body {
  margin: 0px;
  padding: 0px; }

.tabs {
  width: 100%;
  height: 861px;
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .tabs .container {
    margin: auto;
    width: 600px;
    height: 542px; }
    .tabs .container .tabs-header {
      width: 100%;
      height: 115px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #2b3040;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .tabs .container .tabs-header .tabs-header-item {
        color: #75798a;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: #2b3040 solid 2px; }
        .tabs .container .tabs-header .tabs-header-item img {
          -o-object-fit: contain;
          object-fit: contain; }
        .tabs .container .tabs-header .tabs-header-item i {
          text-align: center;
          font-size: 25px; }
    .tabs .container .tabs-content {
      width: 100%;
      height: 428px;
      background-color: #212534;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .tabs .container .tabs-content .tabs-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .tabs .container .tabs-content .tabs-img i {
          margin-top: 25px;
          font-size: 25px;
          color: #4b536b; }
          .tabs .container .tabs-content .tabs-img i:not(:last-child) {
            margin-right: 4px; }
          .tabs .container .tabs-content .tabs-img i:hover {
            color: #ffdd3f; }
      .tabs .container .tabs-content .tabs-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 315px; }
        .tabs .container .tabs-content .tabs-text .tabs-text-header {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .tabs .container .tabs-content .tabs-text .tabs-text-header .tabs-text-header-text h1 {
            color: #ffffff;
            font-family: Lato;
            font-size: 32px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 10px; }
          .tabs .container .tabs-content .tabs-text .tabs-text-header .tabs-text-header-text h3 {
            color: #fdfdfd;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px; }
          .tabs .container .tabs-content .tabs-text .tabs-text-header .tabs-text-header-img {
            width: 75px;
            background-image: url(../img/Ellipse_5_copy.png);
            background-repeat: no-repeat; }
            .tabs .container .tabs-content .tabs-text .tabs-text-header .tabs-text-header-img p {
              margin-left: 15px;
              margin-top: 25px;
              color: #aaadbb;
              font-family: Lato;
              font-size: 20px;
              font-weight: 400;
              line-height: 22px; }
        .tabs .container .tabs-content .tabs-text > p {
          color: #b7bacd;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          margin-top: 22px;
          margin-bottom: 55px; }
        .tabs .container .tabs-content .tabs-text .tabs-text-footer {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .tabs .container .tabs-content .tabs-text .tabs-text-footer #gold {
            color: #fedc3f;
            font-family: Lato;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            margin: 0px;
            margin-bottom: 10px; }
          .tabs .container .tabs-content .tabs-text .tabs-text-footer p {
            color: #ffffff;
            font-family: Lato;
            font-size: 32px;
            font-weight: 400;
            line-height: 20px;
            margin: 0px; }
          .tabs .container .tabs-content .tabs-text .tabs-text-footer a {
            text-decoration: none;
            color: #ffffff;
            font-family: Lato;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            background-color: #13e28d;
            padding: 15px 23px;
            border-radius: 3px; }

#active {
  color: white;
  border-bottom: white solid 2px; }

#active-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#un-active {
  display: none; }

#activeStars {
  color: #ffdd3f; }
